# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=music_ag_db
POSTGRES_PORT=54320
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/music_ag_db

# Redis
REDIS_PORT=6379
REDIS_HOST=redis

# API / Worker
API_PORT=5080
REDIS_URL=redis://redis:${REDIS_PORT}