# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=music_ag_db
POSTGRES_PORT=54320

# Redis
REDIS_PORT=6379

# API / Worker
API_PORT=5080
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}
REDIS_URL=redis://redis:${REDIS_PORT}